
	
{% extends "cards/NavBar.html" %}
	{% block page %}

		<div class ="cardBox cards" >
			
			<h1 class = "center">Add Appliance Card</h1>
			
			<form action = '{% url "cards:newCard" %}' method = "post">
				{% csrf_token %}
				<div class = " cards" >
					<span>
						<label for ="model" > Model Number: </label>
						<input type="text" id="model" name="model">
					</span>
				</div>

				<div class = " cards" >
					<span>
						<label for ="brand" > Brand/Make: </label>
						<input type="text" id="brand" name = "brand">
					</span>
				</div>

				<div class = " cards" >
						<span>
							<label for ="type" > Appliance Type: </label>
							<input type="text" id="type" name = "type">
						</span>
					</div>
			
				<div >
					<input class = "bHooker" type="submit" value = "Add Card" onclick="newCard()">
				</div>
				
			</form>	
			
		</div>


		<div class = "cardWaper">
				{% if cards %}
						{% for card in cards %}
							<a  href = "/applianceView/{{card.id}}">
							<div class="allCards">
								<p> Model: {{card.modelNumber}} Brand: {{card.brand}} Appliance Type: {{card.applianceType}} </p>
							</div>
							</a>
						{% endfor %}
				{% endif %}
		</div>
	{% endblock %}


		