{% extends "cards/NavBar.html" %}
{% block page %}

	<h1 class = "center">{{cards.brand}} {{cards.applianceType}} "{{cards.modelNumber}}" </h1>

	<div class ="cardBox cards" >
			
			<h1 class = "center">Add Appliance</h1>
			
			<form action = '/newAppliance/{{cards.id}}/' method = "post">
				{% csrf_token %}
				<div class = " cards" >
					<span>
						<label for ="serial" > Serial Number: </label>
						<input type="text" id="serial" name="serial">
					</span>
				</div>

				<div class = " cards" >
					<span>
						<label for ="unitCost" > Unit Cost: </label>
						<input type="text" id="unitCost" name = "unitCost">
					</span>
				</div>

				<div class = " cards" >
						<span>
							<label for ="classLevel" > Class: </label>
							<input type="text" id="classLevel" name = "classLevel">
						</span>
					</div>
			
				<div>
					
				<div>
					<input class = "bHooker" type="submit" value = "Add Appliance">
				</div>
				
			</form>	
			
	</div>

	<div class = "cardWaper">
		{% if appliances %}
			{% for appliance in appliances %}
				<a>
					<div class = "allAppliances">
						<p class = "small">Serial Number: {{appliance.serialNumber}} ||||  Class: {{appliance.Class}} |||| Unit Cost: ${{appliance.unitCost}}</p>
					</div>
				</a>
			{% endfor %}
		{% endif %}
	</div>

{% endblock %}
