{% extends "cards/NavBar.html" %}
{% block page %}

	<h1 class = "center">  Modle: "{{appliance.card.modelNumber}}"  Serial: {{appliance.serialNumber}} </h1>

	<div class ="cardBox cards" >
        <a href = "/deleteAppliance/{{appliance.id}}" class = "delete">Delete Appliance</a>
        <h1>Appliance Details   <a> <span onclick = "editAppliance()" class = "editButton">Edit</span> </a></h1> 
        {% if appliance.scrapped %}
            <span class = "redBig">Scrapped</span>

        {% endif %}
        <form action = '/editAppliance/{{appliance.id}}/' method = "post">
            {% csrf_token %}
            <p> Serial Number: {{appliance.serialNumber}} </p>
            <input type="hidden" id="serialNumber" name = "serialNumber" placeholder = "Serial Number">
            <p> Class: {{appliance.Class}} </p> 
            <input type="hidden" id="class" name = "class" value placeholder = "Class" >
            <p>Load Date: {{appliance.date}}</p> 
            <input type="hidden" id="loadDate" name = "loadDate" placeholder = "Load Date">
            <p> Unit Cost: {{appliance.unitCost}}</p> 
            <input type="hidden" step = ".01" id="cost" name = "cost" placeholder ="Unit Cost">
            <p> Color: {{appliance.color}} </p> 
            <input type="hidden" id="color" name = "color" placeholder = "Color">
            <p> Date Sold: {{appliance.dateSold}} </p> 
            <input type="hidden" id="dateSold" name = "dateSold" placeholder = "Date Sold">
            <p> Purchaser: {{appliance.purchaser}} </p> 
            <input type="hidden" id="purchaser" name = "purchaser" placeholder = "Purchaser">
            <p> Ticket Number: {{appliance.ticketNum}}</p> 
            <input type="hidden" id="ticketNum" name = "ticketNum" placeholder ="Ticket Number">
            <p> Selling Price: {{appliance.sellingPrice}} </p> 
            <input type="hidden" step = ".01" id="sellingPrice" name = "sellingPrice" placeholder = "Selling Price">
            <br>
            {% if appliance.scrapped %}
            <span id = "scrapWords"></span><input  type = "hidden" id ="scrap" name = "scrap" value = "scrap" checked>
            {% else %}
            <span id = "scrapWords"></span><input  type = "hidden" id ="scrap" name = "scrap" value = "scrap" unchecked>
            {% endif %}
            <br>
            <input type = "hidden" id = "editSubmit" name = "editSubmit" value = "Save Changes"> 
        </form>
            
						
			
	</div>


{% endblock %}
