{% extends "cards/NavBar.html" %}
{% block page %}

	<h1 class = "center">{{cards.brand}} {{cards.applianceType}} "{{cards.modelNumber}}"  
		<span onclick = "editCard()" class="editCard editButton">Edit</span>
	</h1>
	<div id = "editDiv" class = "center" style = "display: none;">
		<form action = '/editCard/{{cards.id}}/' method = "post">
			{% csrf_token %}
			Brand: <input type = "text" id = "brand" name = 'brand' placeholder= {{cards.brand}}>
			Apppliance Type: <input type = "text" id = "type" name = 'type' placeholder= {{cards.applianceType}}>
			Modle: <input type = "text" id = "model" name = "model" placeholder= {{cards.modelNumber}>
			<input type = "submit" id = "editSubmit" name = "editSubmin" value = "Save Changes">
		</form>
	</div>

	<div id = "deleteDiv" class = "center" style = "display: none;">
		<p>Are you sure you want to delete this card?</p>
		<p>All of the appliances will be deleted too</p>
		<a href = "/deleteCard/{{cards.id}}" class = "finalDelete" >Yes</a> <a href = "/applianceView/{{cards.id}}/" class = "finalDelete" >No</a>
	</div>

	<div class ="cardBox cards" >
			<span onclick = "deleteCard()" class = "delete">Delete Card</span>
			<h1 class = "center">Add Appliance</h1>
			
			<form action = '/newAppliance/{{cards.id}}/' method = "post">
				{% csrf_token %}
				<div class = " cards" >
					<span>
						<label for ="serial" > Serial Number: </label>
						<input type="text" id="serial" name="serial">
					</span>
				</div>

				<div class = " cards" >
					<span>
						<label for ="unitCost" > Unit Cost: </label>
						<input type="number" step = ".01" id="unitCost" name = "unitCost">
					</span>
				</div>

				<div class = " cards" >
						<span>
							<label for ="classLevel" > Class: </label>
							<input type="text" id="classLevel" name = "classLevel">
						</span>
				</div>
			
				<div class = " cards" >
						<span>
							<label for ="color" > Color: </label>
							<input type="text" id="color" name = "color">
						</span>
				</div>

				<div class = " cards" >
						<span>
							<label for ="loadDate" > Load Date: </label>
							<input type="text" id="loadDate" name = "loadDate">
						</span>
				</div>
			
				
					
				<div>
					<input class = "bHooker" type="submit" value = "Add Appliance">
				</div>
				
			</form>	
			
	</div>

	<div class = "cardWaper columnView">
		{% if appliances %}
			<table style="width:100%">
			  <tr>
				<th>Serial</th>
				<th>Class</th>
				<th>Color</th>
				<th>Load Date</th>
			  </tr>
			{% for appliance in appliances %}	
					<div  >
					
						  <tr>
							{% if appliance.scrapped %}
								<td ><a href = "/applianceDetails/{{appliance.id}}"><div class = 'allAppliances'>{{appliance.serialNumber}} <span class = "redSmall"> Scrapped </span></span> </div></a></td>
							{% else %}
								<td ><a href = "/applianceDetails/{{appliance.id}}"><div class = 'allAppliances'>{{appliance.serialNumber}} </div></a></td>
							{% endif %}
							<td> {{appliance.Class}}</td>
							<td> {{appliance.color}}</td>
							<td> {{appliance.date}} </td>
						  </tr>
					</div>
				
			{% endfor %}
			</table>
		{% endif %}
	</div>

{% endblock %}
