{% extends "cards/NavBar.html" %}
{% block page %}

		
		<div class ="lookUpBox cardBox center" id ="box" >

			
			<h1 class = "center">Look up an Appliance</h1>
			<form id = 'formAppSearch' method = "post" action="/lookAppliance" >
				{% csrf_token %}
				<div class= "lookUp">
						<span class = "red"> Search by:</span>
					<select name = "selectSearch" id = "selectSearch" from = 'formAppSearch'>
						<option value = 'serial' {{sSerial}}>  Serial</option>
						<option value = 'model' {{sModel}} >Model</option>
						<option value = 'loadDate' {{sLoadDate}} >  Load Date </option>
					</select> 
					<input type="text" id = 'searchText' name = "searchText">
				</div>
			</form>

		
			

		</div>

		<div class = "cardWaper columnView" >
				{% if appliances %}
			<table style="width:100%">
			  <tr>
				<th>Model</th>
				<th>Serial</th>
				<th>Class</th>
				<th>Color</th>
				<th>Load Date</th>
			  </tr>
			{% for appliance in appliances %}	
					<div>
					
						  <tr>
						
							<td><a href = "/applianceView/{{appliance.card.id}}"><div class = 'allCards'>{{appliance.card.modelNumber}}</div></a></td>
							<td><a href = "/applianceDetails/{{appliance.id}}"><div class = 'allAppliances'>{{appliance.serialNumber}}</div></a></td>
							<td> {{appliance.Class}}</td>
							<td> {{appliance.color}}</td>
							<td> {{appliance.date}} </td>
						  </tr>
					</div>
				
			{% endfor %}
			</table>
		{% endif %}
			</div>
		
{% endblock %}