{% extends "cards/NavBar.html" %}
{% block page %}

		
		<div class ="lookUpBox cardBox center" id ="box" >

			
			<h1 class = "center">Look up an Appliance</h1>
			<form id = 'formAppSearch' method = "post" action="/lookAppliance" >
				{% csrf_token %}
				<div class= "lookUp">
						<span class = "red"> Search by:</span>
					<select name = "selectSearch" id = "selectSearch" from = 'formAppSearch'>
						<option value = 'serial' {{sSerial}}>  Serial</option>
						<option value = 'model' {{sModel}} >Model</option>
						<option value = 'loadDate' {{sLoadDate}} >  Load Date </option>
					</select> 
					<input type="text" id = 'searchText' name = "searchText">
				</div>
			</form>

		
			

		</div>

		<div class = "cardWaper">
				{% if appliances %}
					{% for appliance in appliances %}
						<a href = "/applianceDetails/{{appliance.id}}">
							<div class = "allAppliances">
								<p class = "small">Model: {{appliance.card.modelNumber}} |||| Serial: {{appliance.serialNumber}} ||||  Class: {{appliance.Class}} |||| Color: {{appliance.color}} |||| Load Date: {{appliance.date}} </p>							</div>
						</a>
					{% endfor %}
				{% endif %}
			</div>
		
{% endblock %}