{% extends "cards/NavBar.html" %}
		
	
		{% block page %}

		
		
		<div class ="lookUpBox cardBox center" id ="box" >
			<h1 class = "center">Look up a Card</h1>
			
			<form id = "searchForm" method="post" action = "/lookCards">
				{% csrf_token %}
				<div >
					<span class = "red"> Search by:</span>
					Model Number: <input class = "check" name = "model" type="checkbox" value = "Model" {{modelCheck}}> 
					Brand Name:<input class = "check" name = "name" type="checkbox" value = "Brand" {{nameCheck}} > 
					Type of Appliance:<input class = "check" name = "type" type="checkbox" value = "Type" {{typeCheck}} > 
				</div> 		
				<div>
				Search:<input type="text" id = "search" name = "search" value = "{{search}}" >
				</div>
			</form>
			
	
			
		</div>

		<div class = "cardWaper columnView">
				{% if cards %}
					<table style="width:100%">
					  <tr>
						<th>Model</th>
						<th>Brand</th>
						<th>Appliance Type</th>
						
					  </tr>
					  
					 
						{% for card in cards %}
							<div>
					
							  <tr>
							
								<td><a href = "/applianceView/{{card.id}}"><div class = 'allCards'>{{card.modelNumber}}</div></a></td>
								<td> {{card.brand}}</td>
								<td> {{card.applianceType}}</td>
								
							  </tr>
							</div>
						{% endfor %}
					</table>
				{% endif %}
		</div>
		
		{% endblock %}