<!DOCTYPE html>

<html lang ="en">

	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		<title>Hooker Appliance</title>	
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" href="{%static 'cards/style.css'%}">
		
	</head>
	
	<body>
	
		<div class = "menuBar center">
		
			<div>				
				<img src="{% static 'cards/logo.png'%}" width="200" class="logo">
				<img src="{% static 'cards/logo.png'%}" width="200" class="logo2">
				<h1 class = "title"> HOOKER <br>APPLIANCE'S INVENTORY </h1>
				
			</div>
			<div>
				<a href="{% url 'cards:mainMenu' %}" class="home">HOME </a>
			</div>
			
		</div>
		
		
		<div class ="lookUpBox cardBox center" id ="box" >

			
			<h1 class = "center">Look up an Appliance</h1>
			<form id = 'formAppSearch' method = "post" action="/lookAppliance" >
				{% csrf_token %}
				<div class= "lookUp">
						<span class = "red"> Search by:</span>
					<select name = "selectSearch" id = "selectSearch" from = 'formAppSearch'>
						<option value = 'serial' {{sSerial}}>  Serial</option>
						<option value = 'model' {{sModel}} >Model</option>
						<option value = 'loadDate' {{sLoadDate}} >  Load Date </option>
					</select> 
					<input type="text" id = 'searchText' name = "searchText">
				</div>
			</form>

		
			

		</div>

		<div class = "cardWaper">
				{% if appliances %}
					{% for appliance in appliances %}
						<a>
							<div class = "allAppliances">
								<p class = "small">Serial Number: {{appliance.serialNumber}} ||||  Class: {{appliance.Class}} |||| Unit Cost: {{appliance.unitCost}} |||| Color: {{appliance.color}} |||| Load Date: {{appliance.date}} </p>							</div>
						</a>
					{% endfor %}
				{% endif %}
			</div>
		
		<script type="text/javascript">
			

		
		</script>
		
	</body>

</html>