<!DOCTYPE html>

<html lang ="en">

	<head>
			
		{% load static %}
		<link rel="stylesheet" href="{%static 'cards/style.css'%}" type = "text/css">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		<title>Hooker Appliance</title>	
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	</head>
	
	<body>
	
		<div class = "menuBar center">
			<div>				
				<img src="{% static 'cards/logo.png'%}" width="200" class="logo">
				<img src="{% static 'cards/logo.png'%}" width="200" class="logo2">
				<h1 class = "title"> HOOKER <br>APPLIANCE'S INVENTORY </h1>
				
			</div>
			<div>
				<a href= "{% url 'cards:mainMenu' %}" class="home">HOME </a>
			</div>
		</div>
		
		<div class = "button">
			<form>
				<a href = "{% url 'cards:lookCards' %}"><input class="bBlue"type="button" value = "Look up Card"></a> <br>
				<a href = "{% url 'cards:addCards' %}"><input class="bRed"type="button" value = "Add Card"></a><br>
				<a href = "{% url 'cards:lookAppliance' %}"><input class="bBlue"type="button" value = "Look up Appliance"> </a>

			</form>
		</div>
		
		

		
	</body>

</html>