<!DOCTYPE html>
{% load static %}
<html lang ="en">

	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		<title>Hooker Appliance</title>	
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{%static 'cards/style.css'%}">
		
    </head>
    <body>
        <div class = "menuBar center">
                <div>				
                    <img src="{% static 'cards/logo.png'%}" width="200" class="logo">
                    <img src="{% static 'cards/logo.png'%}" width="200" class="logo2">
                    <h1 class = "title"> HOOKER <br>APPLIANCE STOCK </h1>	
                                
                </div>
                <div>
                    <a href= "{% url 'cards:mainMenu' %}" class="home"><img src ="{% static 'cards/home.png' %}" width ="35" class = "homeButton"></a>
                </div>
        </div>
        <br>

        {% block page %} {% endblock %}
    </body>
    <script>
        // unhides edit text boxes in applianceDetails. 
        function editAppliance(){
            
            serial = document.getElementById("serialNumber");
            if(serial.type == "hidden"){
                text = "text"
                number = "number"
                checkbox = "checkbox"
                submit = "submit"
            }
            document.getElementById("serialNumber").type = text;
            document.getElementById("class").type = text;
            document.getElementById("loadDate").type = text;
            document.getElementById("cost").type = number;            
            document.getElementById("color").type = text;            
            document.getElementById("dateSold").type = text;            
            document.getElementById("purchaser").type = text;            
            document.getElementById("ticketNum").type = text;            
            document.getElementById("sellingPrice").type = number;            
            document.getElementById("scrap").type = checkbox;            
            document.getElementById("editSubmit").type = submit;
            document.getElementById("scrapWords").innerHTML  = "Scrapped"           
        }

        function editCard(){
            document.getElementById("editDiv").style.display = "block";
        }
        


    </script>

</html>
